torch
numpy
matplotlib
pandas
transformers
torchaudio
pytorch-lightning
torchmetrics
scipy
tensorboard
tensorboardX
librosa
torcheval
torchmetrics


# --------- others --------- #
pyrootutils     # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
