-f https://data.pyg.org/whl/torch-2.0.0+cu117.html
numpy
matplotlib
pandas
transformers
scipy
librosa
ipykernel

# ----------- torch -------- #
torchvision
torcheval
torchmetrics
torch
tensorboard
tensorboardX
torchaudio
pytorch-lightning==1.9.4
torchmetrics
torch-scatter

# --------- others --------- #
pyrootutils     # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
